@media only screen and (max-width: 500px){
div#GameLogo img {
    width: 100%;

}
}

div#GameLogo {
    z-index: 9999999999;
}
body {
	 background: #000;
	 font-family: roboto condensed,sans-serif;
}
div#GameLogo img {
    width: 40%;
    margin: -3% auto;
}
.row {
    /* max-height: 153px; */
    /* min-height: 100%; */
}
a.redimirPremio {
    position: absolute;
    bottom: 2%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-family: roboto condensed,sans-serif;
}
.rows {
    margin-top: 2%;
    /* max-width: 75%; */
    margin: 0 auto;
}

body {
	 background: #000;
	 font-family: roboto condensed,sans-serif;
}
 body:after {
	 content: '';
	 display: block;
	 position: fixed;
	 top: 50%;
	 right: 18%;
	 left: 18%;

	 bottom: 44%;
	 padding-top: 39%;
	 transform: translateY(-50%);
	 box-sizing: border-box;
}
 .helper {
	 position: absolute;
	 bottom: 10%;
	 z-index: 100;
	 color: #fff;
	 text-align: center;
	 left: 0;
	 right: 0;
	 pointer-events: none;
	 /* opacity: 0.5; */
	 /* font-weight: bold; */
}
.juegoTerminos {position: absolute;bottom: 6%;width: 100%;margin: 0 auto;text-align: center;font-size: 17px;color: white;text-decoration: none;font-family: roboto condensed,sans-serif;}
 .viewport {
	 display: block;
	 position: fixed;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 overflow: hidden;
	 box-sizing: border-box;
}
 .viewport:before {
	 content: '';
	 display: block;
	 position: fixed;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 width: 10%;
	 background: #000;
	 z-index: 10;
}
 .viewport:after {
	 content: '';
	 display: block;
	 position: fixed;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 width: 10%;
	 background: #000;
	 z-index: 10;
}
 .game {
	 position: absolute;
	 top: 50%;
	 right: 0;
	 left: 0;
	 transform: translateY(-50%);
}
 .results {
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 transform: translateY(100%);
	 transition: transform 1s ease;
	 color: #b53121;
	 background-size: 10%;
	 font-size: 3vw;

}
 .results.shown {
	 transform: translateY(0);
	 background: #b53121;
	 background-size: 33%;
	 margin: auto;
	 height: 7%;
	 font-size: 26px;
	 width: 260px;
	 color: white;
}


@media only screen and (max-width: 500px) {
	
div#GameLogo {
    margin-top: 40%;
}

.helper {
    font-size: 19px;
    bottom: 20%;
}

a.juegoTerminos {
    font-size: 20px;
}

div#GameLogo img {
    width: 80%;
}

}


 .columns {
	 background-color: #fdcbc4;
	 background-size: 100% 100%;
	 animation-timing-function: linear;
	 animation-fill-mode: forwards;
	 /* margin-bottom: 10px; */
}
 .columns.columns-top {
	 background-image: url('https://dieselcolombia.vteximg.com.br/arquivos/juego-nivel-1.jpg');
}
 .columns.columns-center {
	 background-image: url('https://dieselcolombia.vteximg.com.br/arquivos/juego-nivel-2.jpg');
}
 .columns.columns-bottom {
	 background-image: url('https://dieselcolombia.vteximg.com.br/arquivos/juego-nivel-3.jpg');
}
 .columns:after {
	 content: '';
	 display: block;
	 padding-top: 12.07%;
}
 @keyframes ltr-transition-0 {
	 0% {
		 background-position: 0vw;
	}
	 100% {
		 background-position: 33.3333vw;
	}
}
 @keyframes ltr-transition-1 {
	 0% {
		 background-position: 33.3333vw;
	}
	 100% {
		 background-position: 66.6666vw;
	}
}
 @keyframes ltr-transition-2 {
	 0% {
		 background-position: 66.6666vw;
	}
	 100% {
		 background-position: 100vw;
	}
}
 @keyframes rtl-transition-0 {
	 0% {
		 background-position: -33.3333vw;
	}
	 100% {
		 background-position: -66.6666vw;
	}
}
 @keyframes rtl-transition-1 {
	 0% {
		 background-position: -100vw;
	}
	 100% {
		 background-position: -133.3333vw;
	}
}
 @keyframes rtl-transition-2 {
	 0% {
		 background-position: -166.6666vw;
	}
	 100% {
		 background-position: -200vw;
	}
}