.thumbs li.hideImgs{
    display: none !important;
}
.thumbs li.activeImg{
    width: 100%;
    float: none !important;
    margin: 0 auto !important;
    position: relative;
}
li.activeImg:before {
    content: "";
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    content: "x";
    padding: 13px;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}
/*favoritos*/
a.glis-popup-link {
    font-size: 0px;
}

a.glis-popup-link::before {
    content: "";
    background: url('/arquivos/Corazon-icon-diesel.png') no-repeat;
    position: absolute;
    width: 32px;
    height: 32px;
    background-size: 100%;
    top: 21px;
}
a.glis-link::before {
    content: "";
    background: url('/arquivos/Corazon-icon-diesel.png') no-repeat;
    position: absolute;
    width: 32px;
    height: 32px;
    background-size: 100%;
    top: 21px;
}
a.glis-link {
    font-size: 0px;
}

.glis-sku-single.glis-sku-default {
    font-size: 0px;
}

input.insert-sku-quantity {
    font-size: 0 !important;
}

.favorite-button-box.col-xs-2.col-lg-2.col-sm-2 {
    font-size: 0;
    position: relative;
}

a.glis-popup-link {
    font-size: 0px;
}
.new-header {
       height: 121px;
}
    .header.new-header.fixed {
    z-index: 10001;
    width: 100%;
}
li.select.skuList.item-dimension-Color {
    margin: 0 0 0 0;
}
nav ul {
    height: 54px;
}
#TB_window {
  background: white;
}
.glis-new-title {
  display: none;
}
#glis-type_789fb1df77ae4d35890bd970718ff79e {
  display: none;
}
.glis-new-info {
  display: none !important;
}
.create {
  text-align: center;
}
.glis-create-form-name {
  text-align: center;
  margin: 19px auto;
}
.glis-create-form-submit {
  text-align: center;
  background-color: black;
  color: white;
}
.giftlist-insertsku {
  text-align: center;
}
#TB_ajaxContent {
  height: auto !important;
}
.glis-newlisttype {
  display: none;
}
input.glis-form-name {
  background-color: #eee;
}
.glis-form-name-obr {
  display: none;
}
.glis-submit {
  border: 1px solid;
  color: white;
  padding: 6px;
  display: block;
  text-transform: uppercase;
  font-family: roboto condensed;
  font-weight: 700;
}
/*temporal*/

  .glis-title {
  display: none;
}
.create {
  display: none;
}
.glis-submit.glis-submit-list {
  background: white;
  color: black;
}
.glis-ul {
  display: flex;
  justify-content: center;
  align-content: center;
}
.glis-li.version-2.type-4.private.active.visitor-has-access.member-has-access.no-image.has-product {
  min-width: 120px;
  margin: 34px 15px 0 15px;
}
.glis-mylist.mode-list {
  margin-top: 19px;
}
.glis-selected {
  margin: 0 0 23px 0;
  text-transform: uppercase;
  font-family: roboto condensed;
  font-weight: 700;
}
.glis-submit.glis-submit-new {
  padding: 11px;
}
input.glis-form-name {
    background: #f6f6f6 !important;
}

a#TB_closeWindowButton::before {
    content: "X";
    width: 30px;
    height: 30px;
    font-size: 21px;
}

a#TB_closeWindowButton {
    font-size: 0;
}
.glis-edit-link {
    border: 1px solid black;
    background: black;
    color: white;
    padding: 7px;
    font-weight: 700;
    margin: 10px auto;
    display:block;
    text-transform:uppercase;
    font-family: roboto condensed;
}
/*provisional*/
a.glis-popup-link-add {
    display: none;
}

/*AVISAME DISPLAY NONE*/
.portal-notify-me-ref {
    display: none;
}
